@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

:root {
    --color-1: #1c6758;
    --color-2: #3d8361;
    --color-3: #d6cda4;
    --color-4: #eef2e6;
}

::selection {
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
button,
input {
    font-family: "Quicksand", sans-serif;
}

body {
    min-height: 100vh;
}

main {
    padding: 0 10px;
}

.movie-list {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.movie {
    position: relative;
    background-color: var(--color-4);
    display: flex;
    padding: 15px;
    border: 0.5px solid var(--color-1);
    border-radius: 5px;
    box-shadow: 3px 3px 5px var(--color-1);
}

.movie img {
    width: 150px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 3px;
}

.movie h3 {
    width: 75%;
    margin: 10px 0;
}

.movie p {
    font-size: 0.8rem;
    color: black;
}

.rating {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    background-color: #1c6758;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.page-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    margin-bottom: 70px;
}

.page-button {
    width: 200px;
    margin: 5px;
    padding: 5px 10px;
    color: black;
    background-color: var(--color-2);
    box-shadow: 3px 3px 5px var(--color-2);
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.page-button:hover {
    color: white;
    background-color: var(--color-1);
    box-shadow: 3px 3px 5px var(--color-1);
}

.page-button.disabled {
    color: black;
    background-color: gray;
    box-shadow: 3px 3px 5px gray;
    cursor: not-allowed;
}

.current {
    width: 50px;
    padding: 3px 6px;
    font-weight: bold;
    text-align: center;
}

.no-movie {
    width: 100%;
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: var(--color-1);
    color: white;
    margin-top: 20px;
    padding: 20px;
    font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
    .movie-list {
        grid-template-columns: auto;
    }

    .movie {
        justify-content: center;
    }

    .movie img {
        width: 200px;
    }

    .movie-detail {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .movie {
        flex-direction: column;
        align-items: center;
    }

    .movie img,
    .movie h3,
    .movie-detail {
        margin-right: 0;
        width: 100%;
    }

    .page-button {
        width: 90px;
    }

    footer {
        padding: 10px;
    }
}
